<% provide(:title, "Quiz") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
	  <h1>Here's the quiz!</h1>
	  <p>What is <%= @quiz.num1 %> X <%= @quiz.num2 %>?</p>
  </body>
</html>